body {
	background-color: #141414;
	color: white;
	/* font-family: sans-serif; */
}
a:link {color: lightblue;}
a:visited {color: lightblue;}

/***************************************/
/*              HEADER                 */
/***************************************/

#header {
	width: 100%;
	font-weight: bold;
	margin-bottom: 20px;
	/* text-decoration: underline; */
}
#header a {
	text-decoration-line: none;
}
#header #title {
	text-decoration: underline;
	margin: 0 10px;
}

#headerphoto {
	width: 3%;
	min-width: 30px;
	max-width: 100px;
	border: 2px solid white;
	box-shadow: 0px 0px 5px white;
	vertical-align: middle;
	border-radius: 35%;
}

/***************************************/
/*              FOOTER                 */
/***************************************/

#footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 10px auto;
	text-align: center;
}
#footer > a, #footer > span {
	padding: 0 3px;
}

#c_email {
	color: lightblue;
	cursor: pointer;
}

@media (min-width: 500px) {
	#footer {
		flex-direction: row;
	}
	#footer span:last-of-type {display: none;}
	.footer-bullet {display: inline;}
}
@media (max-width: 499px) {
	#footer {
		flex-direction: column;
	}
	.footer-bullet {display: none;}
}
